<!DOCTYPE html>
<html>
<head>
	<title>myCRUD app</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Cardo" rel="stylesheet">
	<link rel="stylesheet" href="/public/css/style.css">
	<meta charset="utf-8">
</head>
<body>
	<div class="container">
		<h1>My First CRUD app with MongoDB and Express</h1>
		<a href="/quotes/new" class="btn btn-default btn-lg">New Quote</a>
		<a href="/quotes" class="btn btn-default btn-lg">List of Quotes</a>
		
		<div class="wrapper">
			{{{body}}}
		</div>
	</div>
</body>
</html>